### Boilerplate (module imports)

In [9]:
import pandas as pd
import numpy
#import bokeh
#import seaborn
import matplotlib

from utils.import_data import read_data

%matplotlib inline

### Display configuration

In [10]:
# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 20)

### Data importation

In [11]:
data = read_data("data/raw")

### Dataset Overview

In [12]:
total_data = data[0]

In [13]:
total_data.head()

,v1,v2,v3,v4,v5,v5bis,v6,v6bis,v7,v8,...,v34_2eenz,v34_3eenz,v34_4eenz,v34_5eenz,v34_6eenz,v34eenz,v34eenz_klassen,v3klas,filter_$,Controle_Leeftijd_v13
1,80001,0.0,66.0,NaN,NaN,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,22.0
2,80001,0.0,68.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,28.0
3,80001,0.0,71.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,35.0
4,80001,0.0,67.0,1.0,NaN,NaN,NaN,NaN,9.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,28.0
5,80001,0.0,68.0,1.0,NaN,NaN,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,28.0

In [14]:
total_data.describe()

,v1,v2,v3,v4,v5,v5bis,v6,v6bis,v7,v8,...,v34_2eenz,v34_3eenz,v34_4eenz,v34_5eenz,v34_6eenz,v34eenz,v34eenz_klassen,v3klas,filter_$,Controle_Leeftijd_v13
count,77104.000000,32942.000000,76417.000000,76471.000000,10034.000000,0.0,9997.000000,0.0,74546.000000,76055.000000,...,2866.000000,2866.000000,2866.000000,2866.000000,2866.000000,2866.000000,2437.000000,2608.00000,77104.000000,73354.000000
mean,8714.446760,5.662923,71.559483,1.545344,1.371736,NaN,1.864259,NaN,4.319856,2.035685,...,0.314724,0.334613,0.311584,0.286811,0.184927,1.644103,1.526877,1.77684,0.016017,22.499741
std,14672.366002,7.415630,7.925485,0.497943,4.289780,NaN,6.925176,NaN,2.715744,1.666509,...,0.464487,0.471937,0.463222,0.452351,0.388306,1.772486,0.656373,0.79172,0.125543,21.132929
min,1000.000000,0.000000,60.000000,1.000000,1.000000,NaN,1.000000,NaN,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.000000,-48.000000
25%,3110.000000,1.000000,65.000000,1.000000,1.000000,NaN,1.000000,NaN,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.000000,0.000000
50%,3930.000000,3.000000,71.000000,2.000000,1.000000,NaN,1.000000,NaN,3.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.00000,0.000000,23.000000
75%,9140.000000,7.000000,77.000000,2.000000,1.000000,NaN,1.000000,NaN,7.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.00000,0.000000,34.000000
max,90001.000000,70.000000,107.000000,2.000000,100.000000,NaN,100.000000,NaN,10.000000,6.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,3.000000,3.00000,1.000000,106.000000