In [10]:
import pandas as pd
import json 
import numpy as np

In [13]:
filepath = "../results/Sujet1/Session1/BalanceBoard/1_features.json"

with open(filepath) as json_data:
    features = json.load(json_data)
    time_features = features["time_features"]
    frequency_features = features["frequency_features"]

In [28]:
time_features_df = pd.DataFrame.from_dict(time_features,orient= "index")
frequency_features_df = pd.DataFrame.from_dict(frequency_features,orient= "index")

In [29]:
time_features_df

                                     0
ap path length              294.530637
Fractal dimension-CC          1.674472
Mean frequency-ml             1.067955
ap range                     16.105083
Mean frequency-ap             0.230490
ap rms distance               3.640465
ml mean distance              0.908022
ml mean velocity              5.485606
Rd mean velocity              7.447835
Fractal dimension-CE          1.643943
95% confidence circle area   28.955126
Rd mean distance              1.284137
Rd range                     10.490708
Rd path length              558.341847
Mean frequency                0.923079
ml path length              411.239421
ml range                     12.312893
ap mean distance              3.013235
Sway area                     0.328191
ml rms distance               1.179624
Rd rms distance               1.668241
95% confidence elipse area   37.141223
ap mean velocity              3.928804

In [30]:
frequency_features_df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Rd Total power,0.025061,0.057819,0.072786,0.075304,0.075552,0.07567,0.075719,0.075742,0.07575,0.075757,...,0.075773,0.075773,0.075773,0.075773,0.075773,0.075773,0.075773,0.075773,0.075773,0.075773