In [1]:
import os
import json
import pandas as pd
import pandas_profiling
import numpy as np

In [2]:
def get_path_to_all_files(folder_name):
    """Recursively get all filepaths from a directory tree."""

    filepaths = []
    for dirname, dirnames, filenames in os.walk(folder_name):
        for filename in filenames:
            if '.DS_Store' not in filename:
                filepaths.append(os.path.join(dirname, filename))

    return filepaths

In [3]:
results_folder = "/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results"

In [4]:
files = get_path_to_all_files(results_folder)

In [5]:
fp_files = [file for file in files if "Vicon" in file and "cop" not in file]
fp_files[1:5]

['/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/Vicon/7_features.json',
 '/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/Vicon/3_features.json',
 '/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/Vicon/11_features.json',
 '/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/Vicon/12_features.json']

In [6]:
wbb_files = [file for file in files if "Vicon" not in file and "cop" not in file]
wbb_files[1:5]

['/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/BalanceBoard/7_features.json',
 '/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/BalanceBoard/3_features.json',
 '/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/BalanceBoard/11_features.json',
 '/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/feature_results/Sujet4/Session2/BalanceBoard/12_features.json']

In [18]:
def create_and_merge_dataframes(files):
    time_frames = []
    frequency_frames = []
    for filepath in files:
        with open(filepath) as json_data:
            features = json.load(json_data)
            time_features = features["time_features"]
            frequency_features = features["frequency_features"]
        time_frames.append(pd.DataFrame(time_features, index=[0]))
        frequency_frames.append(pd.DataFrame(frequency_features,index=[0]))
    
    time_features_df = pd.concat(time_frames, axis=0)
    frequency_features_df = pd.concat(frequency_frames, axis=0)
    
    df1 = time_features_df.reset_index().drop('index', 1)
    df2 = frequency_features_df.reset_index().drop('index', 1)
    
    return (df1,df2)

In [19]:
wbb_df1,wbb_df2 = create_and_merge_dataframes(wbb_files)

In [20]:
wbb_df1.head()

,95% confidence circle area,95% confidence elipse area,Fractal dimension-CC,Fractal dimension-CE,Mean frequency,Mean frequency-ap,Mean frequency-ml,Rd mean distance,Rd mean velocity,Rd path length,...,ap mean distance,ap mean velocity,ap path length,ap range,ap rms distance,ml mean distance,ml mean velocity,ml path length,ml range,ml rms distance
0,518.906165,365.121982,1.507686,1.54387,0.387073,0.227323,0.438674,5.853794,14.236739,1156.977038,...,6.215491,7.992698,649.542621,37.730900,7.812600,4.139257,10.271623,834.744011,38.376332,5.116892
1,141.787871,NaN,1.506103,NaN,0.378890,0.303454,0.387502,3.104017,7.389541,599.786864,...,2.579860,4.428572,359.453877,31.964583,3.178997,2.194871,4.811252,390.514870,11.398411,2.689024
2,83.412492,NaN,1.543325,NaN,0.436319,0.208824,0.476913,2.478340,6.794298,551.248566,...,3.231798,3.817679,309.743555,25.678797,4.473267,1.752451,4.727805,383.585738,8.844581,2.095873
3,8.377497,NaN,1.854726,NaN,1.671415,1.862945,1.989284,0.702834,7.381034,596.387538,...,0.349887,3.687251,297.929853,8.482124,0.436807,0.496979,5.592550,451.878020,4.889105,0.637848
4,17.839525,NaN,1.743681,NaN,0.934314,1.829114,1.172377,1.241501,7.288195,591.560884,...,0.314234,3.251389,263.905482,4.318738,0.397117,0.877874,5.822027,472.556506,4.658210,1.005688

In [17]:
profile_df1 = pandas_profiling.ProfileReport(wbb_df1,bins = 50)
outputfile = "/Users/Antonin/Documents/VUB/semester 4/thesis/validation study/data/results/wbb_data_time_domain_report.html"
profile_df1.to_file(outputfile=outputfile)

In [11]:
wbb_df2.head()

,50% AP peak frequency,50% ML peak frequency,50% Rd peak frequency,80% AP peak frequency,80% ML peak frequency,80% Rd peak frequency,AP Total power,AP peak frequency,ML Total power,ML peak frequency,Rd Total power,Rd peak frequency
0,0.0,0.0,0.0,0.0,0.0,0.0,0.088516,0.05,0.125530,0.05,0.238545,0.05
1,0.0,0.0,0.0,0.0,0.0,0.0,0.014657,0.05,0.022063,0.05,0.043231,0.05
2,0.0,0.0,0.0,0.0,0.0,0.0,0.012053,0.05,0.020813,0.05,0.040298,0.05
3,0.0,0.0,0.0,0.0,0.0,0.0,0.013026,0.05,0.031087,0.05,0.048451,0.05
4,0.0,0.0,0.0,0.0,0.0,0.0,0.010156,0.05,0.031745,0.05,0.059510,0.05

In [12]:
fp_df1,fp_df2 = create_and_merge_dataframes(fp_files)
fp_df1 = fp_df1.reset_index().drop('index', 1)
fp_df2 = fp_df2.reset_index().drop('index', 1)

In [13]:
fp_df1.head()

,95% confidence circle area,95% confidence elipse area,Fractal dimension-CC,Fractal dimension-CE,Mean frequency,Mean frequency-ap,Mean frequency-ml,Rd mean distance,Rd mean velocity,Rd path length,...,ap mean distance,ap mean velocity,ap path length,ap range,ap rms distance,ml mean distance,ml mean velocity,ml path length,ml range,ml rms distance
0,1197.053665,406.322996,1.475652,1.600764,0.718094,1.063583,0.689445,8.615020,38.870277,1045.610464,...,4.361874,26.243356,705.946268,32.600497,5.484854,6.091739,23.758333,639.099157,38.525438,7.686520
1,210.966074,59.355686,1.323339,1.441706,0.303861,0.202309,0.390747,3.798910,7.252931,199.092965,...,2.768912,3.168836,86.984544,14.165427,3.297197,2.686235,5.937656,162.988670,14.822461,3.284230
2,707.866560,NaN,1.203980,NaN,0.150901,0.221431,0.196503,6.473231,6.137535,169.825584,...,1.986784,2.488646,68.860825,10.659815,2.376812,4.577266,5.088045,140.786199,27.698238,5.866782
3,5.005497,NaN,1.525445,NaN,0.834895,0.711389,0.606746,0.589418,3.091969,85.554779,...,0.596368,2.399916,66.405673,9.064748,0.788092,0.416781,1.430509,39.582178,2.619592,0.507303
4,2.879589,NaN,1.605404,NaN,1.186492,0.442680,0.869868,0.436363,3.253067,90.988292,...,1.019478,2.552954,71.406114,4.463669,1.147648,0.308555,1.518313,42.467225,1.850596,0.381270

In [14]:
fp_df2.head()

,50% AP peak frequency,50% ML peak frequency,50% Rd peak frequency,80% AP peak frequency,80% ML peak frequency,80% Rd peak frequency,AP Total power,AP peak frequency,ML Total power,ML peak frequency,Rd Total power,Rd peak frequency
0,0.0,0.0,0.0,0.0,0.0,0.0,1.131305,0.05,0.768656,0.05,1.402389,0.05
1,0.0,0.0,0.0,0.0,0.0,0.0,0.014431,0.05,0.053719,0.05,0.104832,0.05
2,0.0,0.0,0.0,0.0,0.0,0.0,0.008329,0.05,0.037140,0.05,0.073013,0.05
3,0.0,0.0,0.0,0.0,0.0,0.0,0.013600,0.05,0.002946,0.05,0.005709,0.05
4,0.0,0.0,0.0,0.0,0.0,0.0,0.010739,0.05,0.003687,0.05,0.006450,0.05

In [21]:
a = [1,2]
b = [3,4]

c = ["test","test"]
d = ["test2","test2"]

e = a + b
f = c + d
for (data, name) in zip(e, f):
    print(data, name)

1 test
2 test
3 test2
4 test2